[submodule "spec/assets/tests"]
	path = spec/assets/tests
	url = /Users/pote/code/appfog/vcap-test-assets/
[submodule "spec/assets/tests2"]
	path = spec/assets/tests2
	url = /Users/pote/code/appfog/vcap-test-assets/
